*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #181719;
    color: #FFFFFF;
}

header{
    display: flex;
    justify-content: space-between;
}

.heading{
    margin-block-start: 1em;
    margin-inline-start: 2em;
}

.heading h3{
    border: 1px #FFFFFF solid;
    padding: 5px;
    font-size: 14px;
    font-family: 'Crimson Pro', serif;
}

img{
    max-inline-size: 100%;
    block-size: auto;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
  border-bottom: 2px #FFFFFF solid;
  padding-block-end: 5px;
}

.side-nav {
    block-size: 100%;
    inline-size: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #181719;
    opacity: 0.9;
    overflow-x: hidden;
    padding-block-start: 90px;
    transition: 0.5s;
}

.side-nav a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    margin-block-end: 50px;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 42px;
    color: #F2F2F2;
}

.container-I {
    margin-inline-start: 20px;
    margin-inline-end: 10px;
}

.information {
    margin: 40px 0px;
    font-family: 'Montserrat', sans-serif;
}

.information h1 { 
    font-family: 'Lora', serif;
    font-size: 36px;
    margin-block-end: 30px;
}

.information p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-block-end: 2em;
}

.arrow {
    display: inline;
    padding-inline-start: 6px;
}

.image-II {
    border-radius: 100%;
}

.information-II {
    display: flex;
}

.information-II-desc {
    font-family: 'Montserrat', sans-serif;
    padding-inline-start: 15px;
    padding-block-start: 8px;
    line-height: 17.07px;
}
  
.information-II-desc h5 {
    font-size: 14px;
}
  
.information-II-desc p {
    font-size: 12px;
}

.information-III {
    font-family: 'Lora', serif;
    padding-block-start: 7px;
}

footer {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: white;
}

.username-github-link, .devchallenge-link {
    color: white;
}
  
.username-github-link:hover {
    color: black;
}

.devchallenge-link:hover {
    color: #f7542e;
}

@media (max-width: 1284.0px) {

    .nav-items {
      display: none;
    }
  
    .open-slide {
      padding-inline-end: 20px;
    }
  
    .image {
      padding-inline-end: 10px;
    }
  
    .container-II {
      position: absolute;
      right: 27px;
      top: 580px;
      padding: 20px 30px;
      inline-size: 230px;
      background-color: #181719;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
  
    footer { 
      margin-block-start: 125px;
    }
}

@media (min-width: 1285px) {
    
    .container-I {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em;
    }
  
    .information {
      padding-block-start: 200px;
    }
  
    .image {
      padding-block-start: 30px;
    }
  
    .information h1 {
      font-size: 48px;
    }
  
    .nav-items {
      margin-inline-end: 3em;
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
  
    .information {
      inline-size: 410px;
    }
  
    .image{
      margin-block-start: 40px;
    }
  
    .open-slide {
      display: none;
    }
  
    .container-II {
      inline-size: 380px;
      background-color: #181719;
      padding: 30px 10px;
      position: absolute;
      right: 20px;
      bottom: 5px;
      box-shadow: 0px 4px 4px 0px #00000040;
    }
  
    footer {
      margin-block-start: 60px;
    }
}