*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #181719;
    color: #FFFFFF;
}

header{
    display: flex;
    justify-content: space-between;
}

.heading{
    margin-block-start: 1em;
    margin-inline-start: 2em;
}

.heading h3{
    border: 1px #FFFFFF solid;
    padding: 5px;
    font-size: 14px;
    font-family: 'Crimson Pro', serif;
}

img{
    max-inline-size: 100%;
    block-size: auto;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
  border-bottom: 2px #FFFFFF solid;
  padding-block-end: 5px;
}

.side-nav {
    block-size: 100%;
    inline-size: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #181719;
    opacity: 0.9;
    overflow-x: hidden;
    padding-block-start: 90px;
    transition: 0.5s;
}

.side-nav a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    text-align: center;
    margin-block-end: 50px;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 42px;
    color: #F2F2F2;
}

.information {
    margin: 40px 0px;
    font-family: 'Montserrat', sans-serif;
}

.information h1 { 
    font-family: 'Lora', serif;
    font-size: 36px;
    margin-block-end: 30px;
}

.information p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-block-end: 2em;
}

.arrow {
    display: inline;
    padding-inline-start: 6px;
}

.image2 {
    border-radius: 100%;
}

.information2 {
    display: flex;
}

.information2-description {
    font-family: 'Montserrat', sans-serif;
    padding-inline-start: 15px;
    padding-block-start: 8px;
    line-height: 17.07px;
}
  
.information2-description h3 {
    font-size: 14px;
}
  
.information2-description p {
    font-size: 12px;
}